.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message {
	width: 70vw;
	height: 15em;
}

.message_btn {
	border: none;
	padding: 1em;
	margin: 10px 0;
	border-radius: 5px;
	background: #eee;
	transition: all .5s ease;
	cursor: pointer;
}

.message_btn:hover {
	background: #ddd;
}

.h {
	font-size: 3em;
	margin: 10px;
}

.header {
	position: relative;
	background-image: url("./bg.png");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	width: 100%;
}

.header_btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btn {
	margin: 10px;
	padding: .5em 2em;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	font-size: 1.5em;
	transition: all .5s ease;
	cursor: pointer;
}

.btn.disabled {
	background: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
}

.btn.loading {
	background: rgba(155, 155, 255, 0.4);
	cursor: wait
}

.btn:hover:not(.disabled):not(.loading) {
	background: rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.1);
}

.hand, .card {
	margin-right: 1ch;
}

.hand {
	display: inline-block;
	transition: all .5s ease;
	transform-origin: bottom right;
}

.btn:hover:not(.disabled):not(.loading) .hand {
	transform: rotate(-15deg) translateY(-0.1em);
}

.card {
	display: inline-block;
	transition: all .5s ease;
	transform-origin: center;
}

.btn:hover:not(.disabled):not(.loading) .card {
	transform: rotate(20deg);
}

.content {
	padding: 2em 0;
	width: 80vw;
	max-width: 2000px;
}

.counter {
	position: absolute;
	bottom: 1em;
	opacity: 1;
	transition: all .5s ease;
}

.counter.hidden {
	bottom: -1em;
	opacity: 0;
}

footer {
	margin: 1ch;
}
